
<p>
  <b>Nombre:</b>
  <%=h @player.playername %>
</p>

<p>
  <b>Correo Electr&oacute;nico:</b>
  <%=h @player.playeremail %>
</p>

<p>
  <b>Tel&eacute;fono:</b>
  <%=h @player.playerphonenumber %>
</p>


<%= link_to 'Regresar a Jugadores', players_path %>
